.card {
    position: relative;
    width: 70px;
    height: 110px;
    background-color: white;
    border-radius: 9px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cardOnGame {
    position: absolute;
    left: 0;
    top: 55px;
}